.git
.idea
.pytest_cache
conf
htmlcov
tests
venv

.DS_Store
.bumpversion.cfg
.coverage
.dockerignore
.gitignore
Dockerfile
Makefile
Makefile.docker
README.md
requirements.in
requirements-dev.txt

*.iml
**/*.pyc
**/__pycache__


